/bitrix/
/upload/
/img/
/www/
.bash_history
*.log
*.less.css
*.php~
*.html~
*.xml~
dump*
googlea*.html
yandex_*.html
sitemap*.xml
.idea
.top1.menu.php
google*.html
.htaccess
.htaccess.restore
debug_message.txt
/images/
test.php
/video/
/.cache/